header {
    height: 50vh; 
    background-image: url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExbms4cW44dmhkNXF3eWlxZXY0eHVpNjltbjQ4d2RuM3I3aW9lODUwcyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/0Styincf6K2tvfjb5Q/giphy.gif");
    background-size: 100% auto; 
    background-repeat: no-repeat; 
}

#askAeolusTitle {

    text-shadow: 2px 3px 4px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}

small {
    color: rgb(252, 202, 2);
    font-weight: bold;
    text-shadow: 2px 3px 4px;
    font-size: 25px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}

.col.rounded.cards {
    background-image: linear-gradient(to right, #3ac0d5, #b94ea0)
  }
  
main {
    background-image:linear-gradient(to left, #3ac0d5, #0a022d);
}

#topTextDisplay, #tDayTxt, .forecastHtxt, #forecastHeader {

    color: rgb(244, 198, 14);
    text-shadow: 2px 3px 4px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    
}

.forecastDetails {

    color: #fff;

}

.weatherImage {

    height: 100vh;
    width: 100%;
    background-position: center;
}

.forecastImage {

    height: 200px;
    width: 200px;
    background-position: center;
}

.forecastCards {

    text-shadow: 2px 3px 4px;
    box-shadow: 10px 10px 5px rgb(64, 27, 69);
}

.todayCard {

    box-shadow: 10px 10px 5px rgb(64, 27, 69);
}

#cityEntryForm {

    background-image: linear-gradient(to right, #3ac0d5, #e65fc6);
    box-shadow: 10px 10px 5px rgb(64, 27, 69);
    
}

.citySearch {
    color: #ffff;
    text-shadow: 2px 3px 4px;
    background-image: linear-gradient(to right, #d5853a, #850391);
    box-shadow: 10px 10px 5px rgb(64, 27, 69);
}

#formHeader {
    color: #ffff;
    text-shadow: 2px 3px 4px;
    background-image: linear-gradient(to right, #d5853a, #850391);
}